Dear Hiring Manager,

I am writing to express my keen interest in the {position} role in the {team} team at {company}. 
With a strong background in software development, I believe I would be a valuable addition to your team.

Throughout my career, I have demonstrated a passion for building various application. 

Thank you for considering my application. I would welcome the opportunity to discuss how my qualifications align with your needs in more detail. Please find attached my resume for your review.

I look forward to the possibility of contributing to {company}'s success and being a part of its dynamic team. Thank you for your time and consideration.

Sincerely,
John